<!-- Footer.razor -->
<footer id="footer" class="footer">
	<div class="copyright">
		<span>
			Powered by <a target="_blank" href="http://blazor.net/">Blazor</a> on Linux
		</span>
		<br/>
		<span>
			Copyright © 2020 by <a href="https://www.jonty.top">jonty.top</a> . All rights reserved. | <a href="http://www.beian.miit.gov.cn/">湘ICP备20008855号</a>
		</span>
	</div>
</footer>